.body {
    background-color: black;
}

.hyi {
    margin: 20px;
    color: white;
}

.hot {
    margin: 20px;
    color: white;
}

.hot2 {
    margin: 20px;
    color: white;
}

.photo_vetra {
    margin: 20px;
    width: 1000px;
}

.bn {
    margin: 20px;
    width: 1000px;
}


